.container{
  width: 100%;
}
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 1999px){
  .featureSvg {
    height: 210px;
    width: 210px;
  }
}

@media screen and (min-width: 2000px){
  .featureSvg {
    height: calc(100vw/6 - 5rem);
    width: calc(100vw/6 - 5rem);
  }
}