/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale')";
  background: url(/img/darkmodeCity.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtm-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-theme='light'] .heroBanner {
  background-color: var(--ifm-color-primary);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale')";
  background: url(/img/lightmodeCity.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtm-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    -webkit-background-size: contain no-repeat;
  -moz-background-size: contain no-repeat;
  -khtm-background-size: contain no-repeat;
  -o-background-size: contain no-repeat;
  background-size: contain no-repeat;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
