/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*to be both banner versions position, on desktop*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale')";
  background: url(/img/darkmodeCity.png) center fixed;
}

[data-theme='light'] .heroBanner {
  background-color: var(--ifm-color-primary);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale')";
  background: url(/img/lightmodeCity.png) center fixed;
}

@media screen and (max-width: 800px) {
  .heroBanner {
    padding: 2rem;
  }
  [data-theme='light'] .heroBanner, [data-theme='dark'] .heroBanner{
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -khtml-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
