/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*to be both banner versions position, on desktop*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale')";
  background-image: url(/img/darkmodeCity.png);
}

[data-theme='light'] .heroBanner {
  background-color: var(--ifm-color-primary);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale')";
  background-image: url(/img/lightmodeCity.png);
}

@media screen and (max-width: 800px) {
  html{
    font-size: 1rem;
  }
  .heroBanner {
    padding: 2rem;
  }
  [data-theme='light'] .heroBanner, [data-theme='dark'] .heroBanner{
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -khtml-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
  }
}


@media screen and (min-width: 2000px){
  html{
    font-size: 1.5rem;
  }
  .heroBanner{
  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -khtml-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: scroll;
    padding: 4.2rem 0;
  }
  /*[data-theme='dark'] .heroBanner {
    background: var(--ifm-color-primary-darkest);
  }
  [data-theme='light'] .heroBanner {
    background: var(--ifm-color-primary);
  }*/
}

@media screen and (min-width: 3000px){
  html{
    font-size: 2.1rem;
  }
  /*[data-theme='dark'] .heroBanner {
    background: var(--ifm-color-primary-darkest);
  }
  [data-theme='light'] .heroBanner {
    background: var(--ifm-color-primary);
    
  }*/
  .heroBanner{
    padding: 4.2rem 0;
  }
}

@media screen and (min-width: 4000px){
  html{
    font-size: 3.5rem;
    width: 100%;
    padding: 0;
  }
  .heroBanner{
    padding: 3.5rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
