/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #A41127;
  --ifm-color-primary-dark: #A4115C;
  --ifm-color-primary-darker: #750009;
  --ifm-color-primary-darkest: #670002;
  --ifm-color-primary-light: #C1626F;
  --ifm-color-primary-lighter: #DE77B7;
  --ifm-color-primary-lightest: #DE768E;
  --ifm-code-font-size: 95%;
  --ifm-container-width-xl: calc(100vw - 2.5rem);
  --ifm-container-width: calc(100vw - 4.5rem);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #BF4B51;
  --ifm-color-primary-dark: #BD4375;
  --ifm-color-primary-darker: #983937;
  --ifm-color-primary-darkest: #000;
  --ifm-color-primary-light: #C05359;
  --ifm-color-primary-lighter: #CD6C6A;
  --ifm-color-primary-lightest: #F1757B;
}

html{
  font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
  html{
    font-size: 1rem;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.heroBanner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/darkmodeCity.png', sizingMethod='scale')";
  background-image: url(/img/darkmodeCity.png) no-repeat center fixed;
}

[data-theme='light'] .heroBanner {
  background-color: var(--ifm-color-primary);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/lightmodeCity.png', sizingMethod='scale')";
  background-image: url(/img/lightmodeCity.png) no-repeat center fixed;
}



@media screen and (min-width: 2000px){
  :root{
    --doc-sidebar-width: 14vw !important;
  }
  html{
    font-size: 1.5rem;
  }
  .heroBanner{
  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -khtml-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: scroll;
    padding: 4.2rem 0;
  }
  /*[data-theme='dark'] .heroBanner {
    background: var(--ifm-color-primary-darkest);
  }
  [data-theme='light'] .heroBanner {
    background: var(--ifm-color-primary);
  }*/
}
@media screen and (min-width: 3000px){
  :root{
    --doc-sidebar-width: 16vw !important;
  }
  html{
    font-size: 2.1rem;
  }
  /*[data-theme='dark'] .heroBanner {
    background: var(--ifm-color-primary-darkest);
  }
  [data-theme='light'] .heroBanner {
    background: var(--ifm-color-primary);
  }*/
  .heroBanner{
    padding: 4.2rem 0;
  }
}

@media screen and (min-width: 4000px){
  html{
    font-size: 3.5rem;
    width: 100%;
    padding: 0;
  }
  .heroBanner{
    padding: 3.5rem 0;
  }
}

@media screen and (max-width: 800px) {
[data-theme='light'] .heroBanner, [data-theme='dark'] .heroBanner{
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -khtml-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
  }
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(146, 146, 146, 0.3);
}

[data-theme='light'] img[src$='#image-dark-mode-only'],
[data-theme='dark'] img[src$='#image-light-mode-only'] {
  display: none;
}

[data-theme='dark']::-moz-selection, [data-theme='dark']::webkit-selection, [data-theme='dark']::selection{
  background: rgba(var(--ifm-color-primary-darker), 0.3);
  color: #fff;
}

.aboutImage{
  align-self: center;
  width: 350px;
}

.characterImage{
  align-self: center;
}

.leftCharacterProfile + table {
  float: left;
  margin: 20px;
  clear: both;
}

.rightCharacterProfile + table {
  float: right;
  margin: 20px;
  clear: both;
}

spoiler{
  background-color: #000000;
  color: #000000;
}
spoiler::selection, spoiler::-moz-selection{
  color: #fff;
}

.clear {
clear: both;
}

footer a{
  color: var(--ifm-color-primary-lightest);
}

footer a:hover{
  color: var(--ifm-color-primary-lighter);
  transition-duration: 400ms;
}